DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/ammunation_db?schema=public"
REDIS_URL="redis://localhost:6379"
PORT=3000
JWT_SECRET="change-me-generate-with-openssl-rand-base64-32"
JWT_REFRESH_SECRET="change-me-generate-with-openssl-rand-base64-32"
